@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';

.home-text{
    width: 66,666667%;
}
.service-comp{
    width: 50%;
}


@media only screen and (max-width: 900px) {
    .home {
      display: none;
    }
    .compo-service{
        flex-direction: column;
    }
    .home-text{
        width: 100%;
    }
    .home-text h1{
        font-size: 20px;
    }
    .service-comp{
        width: 100% !important;
    }
    .service-comp p{
        font-size: 10px;
    }
    .service-comp h3{
        font-size: 20px;
    }
    .services{
        display: grid;
        width: 100%;
    }
    .service-video{
        height: 200px;
    }
    .service-video video{
        height: 200px;
        width: 100%;
    }
  }